@font-face {
    font-family: 'HelveticaNormal';
    src: url('../fonts/HelveticaNormal.eot');
    src: local('0'), url('../fonts/HelveticaNormal.woff') format('woff'), 
        url('../fonts/HelveticaNormal.ttf') format('truetype'), 
        url('../fonts/HelveticaNormal.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: local('0'), url('../fonts/HelveticaBold.woff') format('woff'), 
        url('../fonts/HelveticaBold.ttf') format('truetype'), 
        url('../fonts/HelveticaBold.svg') format('svg');
    font-weight: bold;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "HeleveticaNormal";
}

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 168px;
}


.logo{
    font-family: 'HelveticaBold';
    font-size: 20px;
    color: #95989a;
    font-weight: bold;
    text-transform: uppercase;
}

.socials a{
    text-decoration: none;
    margin-left: 20px;
}


.top-header{
    padding-top: 78px;
    padding-bottom: 190px;
    background-color: #f4f5f7;
}


.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text{
    width:50%;
    color: #32325f;
}

.main-image {
    width:50%;
}


.subtitle{
    font-family: 'HelveticaBold';
    font-size: 20px;
    font-family: "Helvetica Neue";
    margin-bottom: 26px;
    display: block;
    font-weight: bold;
}
.title{
    font-family: 'HelveticaBold';
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 36px;
}

.desc{
    font-size: 20px;
    margin-bottom: 26px;
    line-height: 26px;

}

.price-tag{
    font-size: 20px;
    margin-bottom: 32px;
    display: block;
}

.price{
    font-size: 48px;
    margin-bottom: 59px;
    display: block;
}

.buttons{
    margin-top: 59px;
}

.btn{
    text-decoration: none;
    color:white;
    font-size: 20px;
    padding: 20px 40px;
    border-radius: 6px;
    filter: drop-shadow(0px 3px 3.5px rgba(173,173,173,0.16));
}

.green{
    background-color: #2dce89;
    margin-right: 30px;
}
.blue{
    background-color: #5e72e4;
}

.about{
    padding-top: 100px;
    padding-bottom: 180px;
    background-color: #f4f5f7;
}
.about-subheadline{
    font-size: 20px;
    color: #32325f;
}
.about-headline{
    font-family: 'HelveticaBold';
    font-size: 48px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 109px;
    color: #32325f;
}

.about-item span{
display:block;
margin-top: 40px;
color: #525f7f;
font-size: 16px;
margin-right: 35px;
line-height: 1.2;
}
.about-wrap{
    display:flex;
}

.about-item{
    width: 25%;
}


.footer{
    background-color: #32325f;
    padding-top: 78px;
    padding-bottom: 119px;
}

.footer-link{
    font-family: 'HelveticaBold';
    text-decoration: none;
    color: #fff;
    display: block;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 7px;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
}


.footer-block{
    width: 33%;
}


.footer-header{
font-family: 'HelveticaBold';
font-size: 24px;
color: #ffffff;
font-weight: bold;
margin-bottom: 35px;
}


.footer-name{
    font-family: 'HelveticaBold';
    font-size: 16px;
color: #ffffff;
font-weight: bold;
margin-bottom: 7px;
}


.people{
    background-color: #f4f5f7;
    padding-top: 90px;
    padding-bottom: 100px;
}

.people-subtitle{
    font-size: 20px;
color: #32325f;
padding-top: 94px;
margin-bottom: 29px;
display: block;
}

.people-headline{
font-family: 'HelveticaBold';
font-size: 48px;
color: #32325f;
font-weight: bold;
padding-bottom: 64px;
}

.people-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.people-block{
    width: 32%;
    margin-bottom: 30px;
}

.people-block img{
    width: 100%;
    object-fit: cover;
    height:100%;
}

@media (max-width: 1024px){
    .buttons{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       }

       .main-image{
        width: 100%;
       }
    
       .btn{
        display: inline-block;
        max-width: 250px;
        text-align: center;
        width: 100%;
        margin-top: 10px;
       }

.container{
    width: 100%;
}


       
}

@media (max-width: 768px){
    .main-image{
        width: 100%;
    }

    .main-text{
        order: 1;
        margin-top: 40px;
    }


    .main{
        flex-direction: column;
    }

.container{
    width: 100%;
}

.nav-bar{
    margin-bottom: 85px;
}

.top-header{
    padding-bottom: 85px;
}
.price{
    margin-bottom: 10px;
}
.buttons{
    margin-top: 30px;
}

.about-item{
    width: 50%;
    margin-bottom: 50px; 
}

.about-wrap{
    flex-wrap: wrap;
}

.about{
   padding:80px 0 40px ;
}
.people-subtitle{
    padding-top: 0px;
}
.people{
    padding-top: 0px;
}

.people-block{
    width: 48%;
}

.footer-block{
    width: 50%;
    margin-bottom: 70px;
    
}
.footer-wrap{
    flex-wrap: wrap;
}
.footer{
    padding-bottom: 0px;
}
}

@media (max-width:550px){
    .about-item{
        width: 100%;
    }

    .people-headline{
        padding-bottom:40px;
    }

    .footer-block{
        width: 100%;
        margin-bottom: 70px;     
    }
    .footer{
        padding-bottom: 0px;
    }

    .about-headline{
        margin-bottom: 50px;
    }
   
    .container{
        width: 100%;
    }
    .main-image{
        width: 100%;
    }

}

